<div x-show="cartNotificationMobile && !menuMobile" style="display: none"
     x-on:cart-update.window="window.innerWidth < 1024 ? cartNotificationMobile = true : cartNotification = true"
     x-transition:enter="cbx-delay-200 cbx-ease-out cbx-duration-300"
     x-transition:enter-start="cbx-opacity-0 -cbx-translate-y-20"
     x-transition:enter-end="cbx-opacity-100 cbx-translate-y-0"
     x-transition:leave="cbx-ease-in cbx-duration-150"
     x-transition:leave-start="cbx-opacity-100 cbx-translate-y-0"
     x-transition:leave-end="cbx-opacity-0 -cbx-translate-y-20"
     @click.outside='cartNotificationMobile = false'
     id='shopify-section-cart-drawer-mobile'
     class='cbx-bg-white cbx-rounded cbx-w-full cbx-max-h-[87vh] cbx-overflow-y-scroll'>

    {% render 'cart-drawer' %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>


</div>