:root {
    /* SWIPER JS
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-vertical-gap: 6px;
    */
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-navigation-sides-offset: 40px;

    /* Fonts */
    --kh-60-semi: 500 60px/96% "KH Teka", sans-serif;
    --kh-48-indent: 300 48px/115% "KH Teka", sans-serif;
    --kh-48: 400 44px/96% "KH Teka", sans-serif;
    --kh-36: 400 36px/110% "KH Teka TRIAL", sans-serif;
    --kh-28: 300 28px/130% "KH Teka TRIAL", sans-serif;
    --kh-22-regular: 400 22px/150% "KH Teka", sans-serif;
    --kh-22: 500 22px/130% "KH Teka", sans-serif;
    --kh-14-medium: 500 14px/140% "KH Teka", sans-serif;
    --kh-14: 400 14px/180% "KH Teka", sans-serif;
    --kh-11-regul: 400 11px/130% "KH Teka", sans-serif;
    --modal-14-semi: 500 14px/140% "ModelStandard SemiMono", sans-serif;
    --model-14-regul: 500 14px/140% "ModelStandard SemiMono", sans-serif;
    --model-12-regul: 400 12px/140% "ModelStandard SemiMono", sans-serif;
    --model-10-maj: 500 10px/130% "ModelStandard SemiMono", sans-serif;
    --model-10: 500 10px/160% "ModelStandard SemiMono", sans-serif;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Black.woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Light.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ModelStandard SemiMono';
    src: url("ModelStandard_SemiMono_Variable.woff2");
    ascent-override: 90%;
}

@tailwind base;

@layer base {
    html {
        @apply cbx-scroll-smooth cbx-h-full;
        height: -webkit-fill-available;
    }

    body {
        @apply cbx-font-body cbx-text-green cbx-bg-gris;
        -webkit-font-smoothing: antialiased;
        min-height: -webkit-fill-available;
    }

    h1, h2, h3, h4, h5 {
        @apply cbx-font-display cbx-tracking-cbxWidest;
    }

    p {
        letter-spacing: -0.01em;
    }

    .cbx-container-site {
        @apply cbx-m-auto cbx-px-[10px] lg:cbx-px-[20px] cbx-max-w-[1880px];
    }

    .cbx-btn {
        @apply cbx-font-medium cbx-px-4 cbx-py-2.5 cbx-rounded-full cbx-text-xss cbx-text-center cbx-text-green cbx-uppercase;
        /* Auto layout */
        leading-trim: both;
        text-edge: cap;
    }

    .cbx-btn-small {
        @apply cbx-px-4 cbx-py-1.5;
    }

    .cbx-customer .cbx-btn {
        padding: 10px 20px;
    }

    .cbx-btn-white {
        @apply cbx-bg-white;
    }

    .cbx-btn-black {
        @apply cbx-bg-black cbx-text-white;
    }

    .cbx-btn-beige {
        /* Beige */
        background: #ECE4D5;
        /* Beige Light */
        border: 1px solid #F5F2EB;
        border-radius: 54px;
    }

    .cbx-btn-vert {
        background: #1E271D;
        width: 100%;
        color: white;
    }

    .cbx-btn-outline-vert {
        @apply cbx-border cbx-border-green cbx-text-green hover:cbx-bg-green hover:cbx-text-white;
    }

    .cbx-btn-green6 {
        @apply cbx-bg-green6 cbx-w-full cbx-text-green2;
    }

    .btn {
        @apply cbx-btn cbx-btn-beige;
    }

    .faq span {
        line-height: 130%;
        leading-trim: both;
        text-edge: cap;
        letter-spacing: .05em;
    }

    .faq h2 {
        line-height: 130%;
        letter-spacing: -0.02em;
    }

    .stack-cards__item {
        position: sticky;
        top: 35px;
        height: 0;
        -webkit-transform-origin: center top;
        transform-origin: center top;
    }

    @media screen and (max-width: 1024px) {
        .stack-cards__item {
            position: relative;
        }
    }

    .header_position {
        @apply cbx-w-full cbx-hidden lg:cbx-flex cbx-justify-center lg:cbx-relative;
    }

    .product__description {
        @apply cbx-gap-y-2;
    }

    .product__description h1,
    .product__description h2,
    .product__description h3,
    .product__description h4 {
        @apply cbx-text-sm;

    }

    .product__description p {
        @apply cbx-text-xs;
    }

    .product_cbx_information a {
        @apply cbx-underline;
    }

}

body.locomotive-active {
    overflow: hidden;
}

.stack-cards {
    --stack-cards-gap: 35px;
}

.swiper-pagination {
    position: initial !important;
    text-align: left !important;
    padding-top: 10px;
}

.swiper-container-product-list .swiper-pagination {
    text-align: center !important;
    padding-top: 0;
}

.swiper-pagination-bullet {
    border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
    background: #1E271D !important;
}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after,
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-family: '';
    font-size: 0;
}

.swiper-button-next, .swiper-button-prev {
    width: 28px !important;
    height: 28px !important;
}

/* Chrome, Safari, Edge, Opera */
quantity-input input::-webkit-outer-spin-button,
quantity-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
quantity-input input[type=number] {
    -moz-appearance: textfield;
    width: 10px;
    text-align: center;
}

cart-drawer-items.is-empty + .drawer__footer {
    display: none;
}

button.loading span {
    display: none;
}

.button.loading > .loading-overlay__spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.button.loading > .loading-overlay__spinner .spinner {
    width: fit-content;
}

.button.loading > .loading-overlay__spinner .path {
    stroke: rgb(var(--color-button-text));
}

price-range input:focus-visible {
    outline: none;
}

select {
    @apply cbx-bg-green6 cbx-border cbx-border-green6 cbx-text-green4 cbx-text-sm cbx-rounded cbx-w-full cbx-p-2.5;
}

textarea {
    @apply cbx-block cbx-p-2.5 cbx-w-full cbx-text-sm cbx-text-green4 cbx-rounded cbx-border cbx-border-green6;
}

@media screen and (min-width: 1024px) {

    .apprendre_description ul,
    ul.list-product {
        list-style: none;
    }

    .apprendre_description ul li:before,
    ul.list-product li:before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #9EA89A; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-right: 16px;
    }

    .apprendre_description ul li:before {
        margin-right: 0;
        padding: 8px 0;
    }
}

/* login / recover */

#ContactForm input,
.customer input,
.register-cbx input,
.login-cbx input {
    @apply cbx-p-2.5 cbx-rounded cbx-text-11 cbx-w-full cbx-text-green;
    border: 1px solid #DBDBDB;
}

.register-cbx label,
.customer label,
.login-cbx label {
    display: none;
}

.customer div:has(input[type="text"]) label {
    display: block;
}

.customer input[type="checkbox"] + label {
    display: block;
}

.customer select {
    @apply cbx-p-2.5 cbx-rounded cbx-text-11 cbx-w-full cbx-border-2 cbx-border-gray-300 cbx-min-w-full;
}

.customer form {
    @apply cbx-flex cbx-flex-col cbx-gap-3;
}

.addresses [aria-expanded='false'] ~ div[id] {
    display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
    display: block;
}

table.order-details td {
    min-width: 80px;
}

table.order-details td:first-child {
    white-space: nowrap;
}

#ContactForm label {
    @apply cbx-font-display cbx-text-xs cbx-font-medium;
}

.shopify-policy__container {
    @apply cbx-container-site cbx-max-w-7xl cbx-mx-auto cbx-py-12 cbx-prose;
}

@tailwind components;

@layer components {

    .localizationHeader li::after {
        content: "/";
        margin: 0 0.2rem;
    }

    .localizationHeader li:last-child::after {
        content: "";
    }

}

@tailwind utilities;

@layer utilities {

}

/* PRICE */
.price > * {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.price.price--unavailable {
    visibility: hidden;
}

.price--end {
    text-align: right;
}

.price .price-item {
    display: inline-block;
}

.price__regular .price-item--regular {
    margin-right: 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
    margin: 0;
}

@media screen and (min-width: 750px) {
    .price {
        margin-bottom: 0;
    }
}


.price--sold-out .price__availability,
.price__regular {
    display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
    display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
    display: inline-block;
}

.price--on-sale .price__sale {
    display: initial;
}

/* BREADCRUMB */

.breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__item {
    @apply cbx-flex cbx-text-green5 cbx-text-xss cbx-uppercase cbx-no-underline;
}

.breadcrumbs__item:not(:last-child):after {
    content: '/';
    padding-left: 4px;
}

.breadcrumbs__item:last-child {
    @apply cbx-text-green2;
}

/* ARTICLE */

article.article {
    @apply cbx-text-sm cbx-text-green4 cbx-font-display;
}

article.drawer-content p {
    @apply cbx-text-sm cbx-text-green4 cbx-font-display cbx-pb-4;
}

article.drawer-content h1,
article.drawer-content h2,
article.drawer-content h3,
article.drawer-content h4,
article.article h1,
article.article h2,
article.article h3,
article.article h4,
article.article h5 {
    @apply cbx-text-green;
}

/*
article.article h2,
article.article h3,
article.article h4,
article.article h5 {
    @apply cbx-py-10;
}*/

article.article h1 {
    @apply cbx-text-4xl    lg:cbx-text-6xl cbx-py-10 cbx-pb-5;
}

article.drawer-content h1 {
    @apply cbx-text-4xl cbx-pb-5;
}

article.drawer-content h2,
article.article h2 {
    @apply cbx-text-3xl cbx-py-5;
}

article.drawer-content h3,
article.article h3 {
    @apply cbx-text-xl;
}

/*
article.article p {
    @apply cbx-pb-5;
}*/

article.drawer-content img,
article.article img {
    @apply cbx-w-full;
}

article.drawer-content ul,
article.article ul {
    @apply cbx-list-disc cbx-list-inside;
}

article.drawer-content ol,
article.article ol {
    @apply cbx-list-decimal cbx-list-inside;
}

article.drawer-content strong,
article.article strong {
    @apply cbx-font-medium;
}

article.drawer-content a,
article.article a {
    @apply cbx-underline cbx-font-medium;
}

article iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 100%;
}


/* COOKIE BANNER */

.shopify-pc__banner__dialog {
    font-size: 14px;
    font-family: 'KH Teka';
}

/* END COOKIE BANNER */

.social-share-buttons a {
    @apply cbx-flex cbx-w-8 cbx-h-8 cbx-rounded-full cbx-border cbx-border-green3 cbx-p-1.5 hover:cbx-bg-green3 hover:cbx-text-white cbx-duration-300;
}

.social-share-buttons a.linkedin-share {
    @apply cbx-p-2;
}
