@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Black.woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KH Teka";
    src: url(KHTeka-Light.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ModelStandard_SemiMono_Variable';
    src: url("ModelStandard_SemiMono_Variable.woff2");
}

@tailwind base;

@layer base {
    html {
        @apply cbx-scroll-smooth cbx-h-full;
    }

    body {
        @apply cbx-font-body cbx-text-green cbx-bg-offWhite;
    }

    h1, h2, h3, h4, h5 {
        @apply cbx-font-display;
    }

    .cbx-container-site {
        @apply cbx-m-auto cbx-px-[10px] lg:cbx-px-[20px] cbx-max-w-[1880px];
    }

    .cbx-btn {
        @apply cbx-font-medium cbx-rounded-full cbx-text-xs cbx-text-center cbx-text-green;
        /* Auto layout */
        padding: 12px;
        leading-trim: both;
        text-edge: cap;
    }

    .cbx-btn-white {
        @apply cbx-bg-white;
    }

    .cbx-btn-beige {
        /* Beige */
        background: #ECE4D5;
        /* Beige Light */
        border: 1px solid #F5F2EB;
        border-radius: 54px;
    }

    .cbx-btn-vert {
        background: #1E271D;
        width: 100%;
        color: white;
    }

    .cbx-bg-noise {
        background-image: url("noise.png");
        background-repeat: repeat;
        background-position: 0 0;
    }

    .faq span {
        line-height: 130%;
        leading-trim: both;
        text-edge: cap;
        letter-spacing: .05em;
    }

    .faq h2 {
        line-height: 130%;
        letter-spacing: -0.02em;
    }

    .stack-cards__item {
        position: sticky;
        top: 35px;
        height: 0;
        -webkit-transform-origin: center top;
        transform-origin: center top;
    }

    .header_position {
        @apply cbx-w-full cbx-hidden lg:cbx-flex cbx-justify-center lg:cbx-relative;
    }
}

body.locomotive-active {
    overflow: hidden;
}

.stack-cards {
    --stack-cards-gap: 35px;
}

.swiper-pagination {
    position: initial !important;
    text-align: left !important;
    padding-top: 10px;
}

.swiper-pagination-bullet {
    border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
    background: #1E271D !important;
}

@tailwind components;

@layer components {
}

@tailwind utilities;

@layer utilities {

}

/* PRICE */
.price > * {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.price.price--unavailable {
    visibility: hidden;
}

.price--end {
    text-align: right;
}

.price .price-item {
    display: inline-block;
}

.price__regular .price-item--regular {
    margin-right: 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
    margin: 0;
}

@media screen and (min-width: 750px) {
    .price {
        margin-bottom: 0;
    }
}


.price--sold-out .price__availability,
.price__regular {
    display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
    display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
    display: inline-block;
}

.price--on-sale .price__sale {
    display: initial;
}