{%- assign image = section.settings.image -%}
<div class='cbx-pb-20 {% render 'bg-color', bg-color: section.settings.couleur_du_background %} {% render 'text-color', text-color: section.settings.couleur_du_texte %}'>
    <div class="cbx-container-site">
        <div class='cbx-aspect-square lg:cbx-aspect-video cbx-relative overflow-hidden cbx-rounded'>
            {%- if image != null -%}
                {{
                image
                | image_url: width: 3840
                | image_tag:
                loading: 'lazy',
                class: 'cbx-absolute cbx-w-full cbx-h-full cbx-inset-0 cbx-object-cover',
                sizes: '100vw',
                widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                alt: alt
                }}
            {%- else -%}
                {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder cbx-absolute cbx-w-full cbx-h-full cbx-inset-0 cbx-object-cover' }}
            {%- endif -%}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Image pleine largeur",
  "class": "image_full_width",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "couleur_du_background",
      "label": "Couleur du background",
      "options": [
        {
          "value": "offwhite",
          "label": "offWhite"
        },
        {
          "value": "beigelight",
          "label": "beigeLight"
        },
        {
          "value": "beige",
          "label": "beige"
        },
        {
          "value": "green",
          "label": "green"
        },
        {
          "value": "green2",
          "label": "green2"
        },
        {
          "value": "green3",
          "label": "green3"
        },
        {
          "value": "green4",
          "label": "green4"
        },
        {
          "value": "green5",
          "label": "green5"
        },
        {
          "value": "green6",
          "label": "green6"
        }
      ],
      "default": "beigelight"
    },
    {
      "type": "select",
      "id": "couleur_du_texte",
      "label": "Couleur du texte",
      "options": [
        {
          "value": "offwhite",
          "label": "offWhite"
        },
        {
          "value": "beigelight",
          "label": "beigeLight"
        },
        {
          "value": "beige",
          "label": "beige"
        },
        {
          "value": "green",
          "label": "green"
        },
        {
          "value": "green2",
          "label": "green2"
        },
        {
          "value": "green3",
          "label": "green3"
        },
        {
          "value": "green4",
          "label": "green4"
        },
        {
          "value": "green5",
          "label": "green5"
        },
        {
          "value": "green6",
          "label": "green6"
        }
      ],
      "default": "green2"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Image pleine largeur"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}