<div class='cbx-bg-green3 cbx-text-beige cbx-border-b cbx-border-green4'>
    <div class="template-404 cbx-container-site cbx-min-h-screen cbx-flex cbx-justify-center cbx-items-center">
        <div>
            <span class='cbx-text-center cbx-font-display cbx-text-7xl lg:cbx-text-[400px]'>{{ 'templates.404.subtext' | t }}</span>
            <h1 class="cbx-hidden">
                {{ 'templates.404.title' | t }}
            </h1>
        </div>
    </div>
</div>
