{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class='cbx-container-site swiper-container-produits cbx-w-full cbx-mb-20 cbx-relative'>

    <div class='cbx-flex lg:cbx-hidden cbx-pb-5'>
        <span class='cbx-text-green3 cbx-text-sm'>{{ section.settings.sur_titre }}</span>
    </div>

    <div class="swiper-wrapper">
        {%- assign produits_en_vedette = section.settings.produits_en_vedette -%}
        {%- for product in produits_en_vedette -%}
            <div class='swiper-slide' data-slideNumber="{{ slideNumber }}" {{ block.shopify_attributes }}>
                {% render 'card-product',
                        card_product: product,
                        show_secondary_image: true,
                        lazy_load: lazy_load,
                        section_id: section.id
                %}
            </div>
        {%- endfor -%}

    </div>

    <div class='swiper-pagination'></div>
</div>

{% schema %}
{
  "name": "Produits en vedette",
  "class": "produits_vedette cbx-overflow-hidden",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "sur_titre",
      "label": "Sur titre",
      "default": "Les produits du moment"
    },
    {
      "type": "product_list",
      "id": "produits_en_vedette",
      "label": "Produits en vedette"
    }
  ],
  "presets": [
    {
      "name": "Produits en vedette"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}


{% javascript %}
var swiperHero = new Swiper('.swiper-container-produits', {
slidesPerView: 1.2,
spaceBetween: 6,
grabCursor: true,
pagination: {
el: '.swiper-pagination',
clickable: true,
},
breakpoints: {
550: {
slidesPerView: 2.2,
},
800: {
slidesPerView: 3.2,
},
1000: {
slidesPerView: 4.2,
},
}
});

if (Shopify.designMode) {
// Détecter la sélection d'un bloc
document.addEventListener('shopify:block:select', function(event) {
// Vérifier si le bloc sélectionné est lié au slider
if (event.target.closest('.swiper-container')) {
// Récupérer le numéro de diapositive à partir des données de l'élément
var slide = event.target.dataset.slidenumber;
slide = slide - 1;
// Vérifier si le slider SwiperJS existe et le faire défiler vers la diapositive spécifiée
if (swiperHero) {
swiperHero.slideTo(slide);
}
}
});

document.addEventListener('shopify:block:select', function(event) {
// Recharger le slider SwiperJS ici
if (swiperHero) {
swiperHero.update();
}
});

}


{% endjavascript %}