<div class="cbx-container-site cbx-flex cbx-flex-col cbx-pb-20">
    {% if section.settings.sur_titre != blank %}
        <span class='lg:cbx-indent-96 cbx-text-green3 lg:cbx-pb-8 text-sm'>{{ section.settings.sur_titre }}</span>
    {% endif %}
    <h3 class="cbx-font-display cbx-text-green3 lg:cbx-text-green2 {% if section.settings.sur_titre == blank %}cbx-text-3xl{% else %}cbx-text-xls{% endif %} lg:cbx-text-5xl cbx-font-light lg:cbx-leading-tight lg:cbx-indent-96">
        {{ section.settings.texte }}
    </h3>
</div>

{% schema %}
{
  "name": "Texte Large",
  "class": "text-large",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "sur_titre",
      "label": "Sur titre",
      "default": "CBX MEDICAL",
      "placeholder": "CBX MEDICAL"
    },
    {
      "type": "textarea",
      "id": "texte",
      "label": "Texte",
      "default": "Nous sommes tous convaincus que le cannabis offre des alternatives naturelles et complémentaires à la médecine traditionnelle. Nous pensons profondément que le cannabis doit revenir dans les mains des professionnels de la santé."
    }
  ],
  "presets": [
    {
      "name": "Texte Large"
    }
  ]
}
{% endschema %}